<a href="https://colab.research.google.com/github/sjayy820/Winter_22_Music_Prediction_Proj/blob/main/Music_Year_Classification_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Music Year Classification Semester Project

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00203/YearPredictionMSD.txt.zip &> /dev/null

In [8]:
# Creating a folder for the unzipped file
!mkdir /content/drive/MyDrive/semester-proj/data

# Unzipping the compressed file to the new folder
!unzip /content/YearPredictionMSD.txt.zip -d /content/drive/MyDrive/semester-proj/data

# Renaming the unzipped file songdata.txt
!mv /content/drive/MyDrive/semester-proj/data/YearPredictionMSD.txt /content/drive/MyDrive/semester-proj/data/songdata.txt

mkdir: cannot create directory ‘/content/drive/MyDrive/semester-proj/data’: File exists
Archive:  /content/YearPredictionMSD.txt.zip
  inflating: /content/drive/MyDrive/semester-proj/data/YearPredictionMSD.txt

In [3]:
import pandas as pd
import torch
from torch.utils.data import Dataset,  DataLoader

# Configuring display settings of pandas output

saving txt file

In [4]:
BASE_PATH = '/content/drive/MyDrive/semester-proj/proj2_assets/'

In [9]:
df = pd.read_csv(BASE_PATH + 'songdata.txt', header=None)

Creating Dataset

In [10]:


# Verifying that the dataframe contains the right
# data: strings as column names and valid values

df.head(1)

seed = 123
df = df.sample(frac=1, random_state=seed)

X = df.iloc[:, 1:]

y = df.iloc[:, 0]

print(X)
print(y)



# Standardizing X
X = (X - X.mean())/X.std()

# Printing the first five rows of standardized X
X.head()

              1          2          3         4         5         6   \
311436  49.17188   62.73959   14.31399 -16.93607 -14.09541 -16.68930
157334  40.04049   38.81936    4.17821  -3.85786  19.91331   4.53515
175479  38.39703  -97.66200   82.58000  22.60320 -34.64483  43.46962
104208  43.11373  -42.14873   17.92282 -12.89799 -13.02431  -8.88985
217046  40.99011   28.29568   25.99865  -2.59934  -8.57268 -21.33259
...          ...        ...        ...       ...       ...       ...
192476  29.24625  -49.19251   22.07354 -19.56828  -0.47925 -25.95330
17730   45.17228   12.38762    0.18377   1.38815  21.97594  -5.01136
28030   36.33370 -115.66810 -109.28076  11.42034  28.89100   3.89276
277869  35.53111  -46.39203   -2.47086 -36.59078   4.52448 -22.51886
249342  46.60109   -0.60576    0.59589  34.84534  14.39635 -23.62161

              7         8         9         10  ...         81         82  \
311436 -19.58937  -7.45666  10.33777   1.27880  ...  -10.24096  -60.29800
157334 -20.25812  -3.51810  -9.59911   2.31603  ...   44.65713 -362.92604
175479 -47.83991  -1.17269  21.26217   4.58731  ...   74.94066 -306.92476
104208 -13.03507 -10.49904   2.78457  -5.77142  ...   -4.62098   15.50655
217046  -6.51331   3.04725   5.50751   2.52701  ...  -24.00609 -149.39541
...          ...       ...       ...       ...  ...        ...        ...
192476 -19.41915  -1.49298  11.40667   0.60439  ...   18.68249  -54.84056
17730   -8.20528  -1.96758  -1.57767  -2.36586  ...    8.27624  -23.35829
28030  -25.16017 -39.47978  21.92684  -7.10760  ...    5.38895    7.41495
277869 -47.36902  -7.95194  37.49349  12.80848  ...  163.83947 -314.20038
249342   0.43527  -1.35546  -4.62616   9.56740  ...   31.87129  -23.52421

               83         84        85         86         87        88  \
311436   40.53085   56.05502   0.65201  -39.28712  -45.97089  -3.02050
157334  107.51088   61.78211  26.96166   14.29661  -43.25983  -9.93716
175479  318.65842  278.02604 -41.50428  -85.47291  404.56742  -2.58261
104208   88.36075   99.03019   8.63781  -36.21278  -89.14925  -2.97198
217046  -48.81593   30.45944  -9.80037   26.99337   54.58418   1.92071
...           ...        ...       ...        ...        ...       ...
192476   58.34831   60.10714   1.87540 -123.73168  120.06135  13.83720
17730    61.29325  175.45858   4.18668   91.13393 -217.27843   3.85049
28030   140.86367 -235.51970  10.14270 -155.07054   44.89989   9.10047
277869  129.81544  244.36055  -1.73860   10.86748  -64.74790   2.45125
249342 -119.58062  -11.61975   9.43856   -7.45882   -4.90709 -17.03898

               89        90
311436   35.35374  -0.11586
157334   -0.98433  -8.18250
175479  201.62247  50.75366
104208  -18.49050  -7.44839
217046   27.79439  13.68099
...           ...       ...
192476   67.38546  35.79759
17730   -47.21193 -35.62052
28030   323.27740  11.68093
277869 -221.28436  16.29892
249342  169.42511 -14.67236

[515345 rows x 90 columns]
311436    1975
157334    2007
175479    1992
104208    2006
217046    1983
          ...
192476    1997
17730     2003
28030     2002
277869    1993
249342    2005
Name: 0, Length: 515345, dtype: int64

,1,2,3,4,5,6,7,8,9,10,...,81,82,83,84,85,86,87,88,89,90
311436,0.953391,1.191346,0.160359,-1.108891,-0.329902,-0.557432,-1.180238,-0.711144,0.624585,-0.092429,...,-0.809865,0.074955,-0.008276,0.190645,0.020806,-0.497749,-0.112978,-0.560380,0.082554,-0.065417
157334,-0.551562,0.727599,-0.127029,-0.307667,1.157743,1.093280,-1.226131,-0.216587,-1.259299,0.066406,...,0.900375,-1.648254,0.539713,0.250898,1.648701,-0.029474,-0.097395,-1.078615,-0.113277,-0.430612
175479,-0.822422,-1.918396,2.095963,1.313444,-1.228795,4.121373,-3.118942,0.077921,1.656858,0.414216,...,1.843798,-1.329374,2.267191,2.525937,-2.587591,-0.901372,2.476660,-0.527571,0.978600,2.237562
104208,-0.045059,-0.842148,0.262683,-0.861502,-0.283048,0.049163,-0.730447,-1.093168,-0.089135,-1.172057,...,-0.634786,0.506597,0.383038,0.642774,0.514923,-0.470882,-0.361161,-0.556744,-0.207620,-0.397377
217046,-0.395054,0.523574,0.491664,-0.230565,-0.088321,-0.918560,-0.282889,0.607809,0.168162,0.098714,...,-1.238690,-0.432379,-0.739256,-0.078639,-0.625929,0.081485,0.465000,-0.190156,0.041816,0.559198

In [ ]:
y = (y - y.mean())/y.std()

# Printing the first five rows of standardized X
y.head()

311436   -2.140425
157334    0.787017
175479   -0.585221
104208    0.695534
217046   -1.408564
Name: 0, dtype: float64

Data Exploration

In [ ]:
y.head()

311436   -2.140425
157334    0.787017
175479   -0.585221
104208    0.695534
217046   -1.408564
Name: 0, dtype: float64

train/test splitting

In [ ]:

# Splitting the datasets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.011, random_state=seed,shuffle=True)

# Printing the shapes of the new datasets
X_train.shape, y_train.shape, X_test.shape, y_test.shape
# Writing a function to reset the indexes of the new datasets


#

((509676, 90), (509676,), (5669, 90), (5669,))

creating dataset objects

In [ ]:
class Dataset:
    def __init__(self, X, y):
       self.X = X.values
       self.y = y.values
       # self.X = torch.tensor(X.values).float()
        #self.y = torch.tensor(y.values).float()

        
    def __len__(self):
        return len(self.X)
    
    def __getitem__(self, idx):
        return (
            torch.tensor(self.X[idx], dtype=torch.float),
            torch.tensor(self.y[idx], dtype=torch.float)
  
        )

In [ ]:
train_dataset = Dataset(X_train, y_train)
test_dataset = Dataset(X_test, y_test)

print('First item of the train_dataset:\n',train_dataset[0])
print('\n\nLength of the train_dataset: ', len(train_dataset))
print('\n\nLength of the test: ', len(test_dataset))

First item of the train_dataset:
 (tensor([-1.1643,  0.7182, -0.4167, -0.1158, -0.0459,  1.2464,  1.9297, -1.7247,
        -1.9091, -3.7002, -2.0781, -2.6831, -0.3372,  0.1452,  1.8263,  0.5267,
         0.6722,  0.5091,  0.7558,  2.1866,  0.9384,  2.1613,  0.9309,  1.2223,
         0.0279,  0.3753,  0.3925,  0.3412,  0.3530, -0.3823, -0.1021,  1.8493,
         0.0337,  0.4121,  0.2795, -0.3938, -0.3461, -0.8001, -1.5561, -0.0277,
         3.4329, -1.9706,  0.6705,  0.5069,  2.8351, -0.5253,  0.6740,  1.5516,
         0.6865, -0.7357,  1.9994, -2.9199,  0.2831, -1.0182, -1.0007,  1.0344,
         0.6430, -1.5752,  0.7916, -0.8964,  1.6438,  3.4036,  0.0985, -0.8128,
         4.3880, -3.1292,  0.7056,  0.8684,  0.9262,  0.2896,  0.5824, -1.0956,
         0.8694, -0.8563, -0.2471,  0.4744,  0.9663,  2.4552, -1.3765, -0.4608,
        -0.1884,  2.7007,  1.6918,  0.8612,  0.3139, -0.2887,  2.6562,  0.1020,
        -0.3824,  0.3791]), tensor(-1.5915))


Length of the train_dataset:  509676


Length of the test:  5669

DataLoader wrapper

In [ ]:
from torch.utils.data import DataLoader

batchsize=32
train_loader = DataLoader(train_dataset,shuffle=True, batch_size=batchsize)
test_loader = DataLoader(test_dataset,shuffle=True, batch_size=batchsize)

iteration loops

In [ ]:
type(train_dataset)

__main__.Dataset

Network Training

In [ ]:
input_size = 90 
final_output_size = 1
num_epochs = 5 
  

output_size1=50
output_size2=24

In [ ]:
import torch.nn as nn

class NN(nn.Module):
  
  def __init__(self, input_size, final_output_size):
    super(NN, self).__init__()
    # Use ReLU activation function to avoid vanishing gradient. Try experimenting with different activation function
   
    # Input layer: try experimenting with different size for hidden layers
    self.input_layer = nn.Linear(input_size, output_size1)
    self.relu=nn.ReLU()  
    #self.drop=nn.Dropout()

    
    # Hidden layers (Try experimenting with different numbers of hidden layers)
    self.hidden1 = nn.Linear(output_size1, output_size2)
    self.relu2=nn.ReLU()  
    #self.drop2=nn.Dropout(

    
    # Output layer
    self.output_layer = nn.Linear(output_size2, final_output_size)
  
  # 2. TODO: Define method for forwarding input data
  def forward(self, sample):
    # Pass input sample to input layer
    out = self.input_layer(sample)
    out = self.relu(out)
    #out=self.drop(out)
    # Forward input through all hidden layers
    out = self.hidden1(out)
    out = self.relu2(out)
    #out=self.drop2(out)

    #out = self.act(out)
    #out=self.drop3(out)
    # Forward to final output layer
    out = self.output_layer(out)
    return out

# Initialize our model by passing in our hyperparameters defined previously
nn_model = NN(input_size, final_output_size)
print("My NN Model: ", nn_model)

My NN Model:  NN(
  (input_layer): Linear(in_features=90, out_features=50, bias=True)
  (relu): ReLU()
  (hidden1): Linear(in_features=50, out_features=24, bias=True)
  (relu2): ReLU()
  (output_layer): Linear(in_features=24, out_features=1, bias=True)
)

In [ ]:
loss_function = nn.MSELoss()
optimizer = torch.optim.Adam(nn_model.parameters(), lr=0.01)

In [ ]:
losses = []
n_epochs = 5


from tqdm import tqdm
for i in range(n_epochs):
    for X, y in tqdm(train_loader, leave=False, desc='batch progress'):
        optimizer.zero_grad()      
        y_pred = nn_model(X)
        # y # shape=[m]
        # y_pred # shape=[m, 1]
        
                              #compute the output with forward propagation
         
              #compute the loss function
        loss = loss_function(y_pred.squeeze(), y) 
                         #set the gradients to zero
        loss.backward()                                     #backward propagation
        optimizer.step()    


        losses.append(loss.item())                          #gradient descent
    print(f'{i+1} iterations completed, the current loss is: {loss:.4f}, rmse: {loss.sqrt():.4f}')
    print(f'MSE: {loss.mean():.4f}')

1 iterations completed, the current loss is: 0.0997, rmse: 0.3157

2 iterations completed, the current loss is: 0.8328, rmse: 0.9126

3 iterations completed, the current loss is: 0.2748, rmse: 0.5242

4 iterations completed, the current loss is: 0.1288, rmse: 0.3588

5 iterations completed, the current loss is: 0.1449, rmse: 0.3807

In [ ]:

losses = []
for X, y in tqdm(test_loader, leave=False, desc='batch progress'):
    y_pred = nn_model(X) 
    loss = loss_function(y_pred.squeeze(), y) 
    losses.append(loss.item())


#Different Metrics to Evalutate Regression Accuracy 
#RULE: lower better >>> MSE shows us best error score     
print(f'RMSE: {loss.mean().sqrt():.4f}')
print(f'MSE: {loss.mean():.4f}')

# create a criterion to measure the mean absolute error
mae = nn.L1Loss()

# compute the loss (mean absolute error)
output = mae(y_pred, y)

print(f'MAE: {output:.4f}')

RMSE: 0.7533
MSE: 0.5674
MAE: 0.8584